#export-actions {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100vh - 56px);
  text-align: center;

  .centering {
    margin: auto;
  }

  .buttons a {
    border-color: $naga-yellow;
    color: #222;
    width: 30%;
    margin: 5px;
    padding: 1.5rem;
  }

  .btn-export{
    // background-color: #fff;

    .fa-check {
      color: $success;
      display: inline-block;
    }
    .fa-times {
      color: $danger;
      display: none;
    }
    .image-loading {
      width: 1rem;
      height: 1rem;
    }

    &:hover{
      color: white;
      background-color: $naga-yellow;

      .fa-check,
      .fa-times {
        color: $white;
      }
    }
    &[data-status="done"]{
      .fa-check {
        display: inline-block;
      }
      .fa-times {
        display: none;
      }
      .image-loading {
        display: none;
      }
    }
    &[data-status="pending"]{
      .fa-check {
        display: none;
      }
      .fa-times {
        display: none;
      }
      .image-loading {
        display: inline-block;
      }
    }
    &[data-status="none"]{
      .fa-check {
        display: none;
      }
      .fa-times {
        display: inline-block;
      }
      .image-loading {
        display: none;
      }
    }
  }

}