.banner-preview {
  max-height: 150px;
  max-width: 300px;
  height: auto;
  width: auto;
}

#bannersets-list {
  .footable-row-detail-inner {
    display: block;
  }
  .footable-row-detail-row {
    display: block;
  }
  .footable-row-detail-value {
    display: block;
  }

  .table-footable {
    width: 100%;
  }
}