#header {
  position: relative;
  z-index: 999;
  height: 56px;
  background-color: rgb(34, 34, 34);
  overflow: hidden;
  
  nav a {
  color: rgb(204, 204, 204);
  padding: 1rem;
  }

  .btn-logout {
    background: none;
    color: #f2cb34;
    border: none;
    font-size: 12px;
    cursor: pointer;

    &:hover { 
      text-decoration: underline;
    }
  }
}