#page-login {

  #header {
    display: none;
  }

  .main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    // min-height: calc(100vh - 56px);
    padding: 20px;
    // background: url('/images/topography-subtle.jpg') repeat;
    background-color: #f5f5f5;
    border: 20px solid #222;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  // .form-signin input[type="email"] {
  //   margin-bottom: -1px;
  //   border-bottom-right-radius: 0;
  //   border-bottom-left-radius: 0;
  // }
  // .form-signin input[type="password"] {
  //   border-top-left-radius: 0;
  //   border-top-right-radius: 0;
  // }
  
  // .form-signin {
  //   max-width: 600px;
  // }
}