body{
  min-height: 100vh;
  font-size: 12px;
}

h1,
h2,
h3,
h4{
  font-family: $font-family-sans-serif;
  font-weight: 700;
  line-height: 1.618;
}
h5,
h6{
  font-family: $font-family-sans-serif;
  font-weight: 500;
  line-height: 1.618;
}
a,
li,
span,
body,
html,
small,
p,
input,
textarea,
label,
button{
  font-family: $font-family-sans-serif;
  font-weight: 400;
  line-height: 1.618;
}

.iframe-wrapper {
  height: 100vh;
  margin-top: -56px;
  width: 100%;

  iframe{
    height: 100%;
    width: 100%;
  }
}

.btn-primary {
  background: $naga-yellow;
  border-color: $naga-yellow;

  &:hover {
    background: $naga-dark-yellow;
    border-color: $naga-dark-yellow;
  }
}

.btn-link {
  font-size: inherit;
  color: $naga-yellow;
  text-decoration: none;

  &:hover {
    color: $naga-dark-yellow;
  }
}

.form-control:focus {
  border-color: $naga-yellow;
  box-shadow: 0 0 0 0.2rem rgba(242, 205, 49, 0.25);
}

#page-dashboard {
  #header nav {
    display: none;
  }
  
  .main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100vh - 56px);
  }

  #dashboard {
    margin: 50px auto;
    text-align: center;
  }
}

#dashboard {
  a {
    color: inherit;
    cursor: pointer;
    display: block;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: all .2s linear;

    &:hover {
      top: -10px;
      transition: all .2s linear;
    }
  }

  h3 {
    color: $naga-yellow;
  }

  figure {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#page-list-banners {
  #banner-list {
    margin: 50px auto;
  }
}

