
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color 
$naga-yellow: #f2cd31;
$naga-dark-yellow: #bfa01f;
