
// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import "../vendor/font-awesome/scss/fontawesome";

// Main style
@import 'main';

// Components
@import 'components/header';
@import 'components/login';

@import 'pages/list-banners';
@import 'pages/export-banners';


// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
